[Desktop Entry]
Name=Amp Locker
Comment=All In One Amp Sim Suite
Exec=~/.local/bin/amp_locker
Terminal=false
Type=Application
Icon=amp-locker
Categories=AudioVideo;Audio;X-Jack;Midi;X-MIDI;
Keywords=Audio;Sound;Guitar;Amplifier;Record;Midi;Jack;
