[Desktop Entry]
Name=RVXX v2
Comment=High Gain Amp Simulator
Exec=rvxx_v2
Terminal=false
Type=Application
Icon=rvxx
Categories=AudioVideo;Audio;X-Jack;Midi;X-MIDI;
Keywords=Audio;Sound;Guitar;Amplifier;Record;Midi;Jack;