[Desktop Entry]
Categories=AudioVideo;Audio;X-Jack;Midi;X-MIDI;
Comment[es_CO]=High Gain Amp Simulator
Comment=High Gain Amp Simulator
Exec=rvxx_v2
GenericName[es_CO]=
GenericName=
Icon=rvxx
Keywords=Audio;Sound;Guitar;Amplifier;Record;Midi;Jack;
MimeType=
Name[es_CO]=RVXX v2
Name=RVXX v2
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
