[Desktop Entry]
Name=Sigma v2
Comment=High Gain Amp Simulator
Exec=sigma_v2
Terminal=false
Type=Application
Icon=sigma
Categories=AudioVideo;Audio;X-Jack;Midi;X-MIDI;
Keywords=Audio;Sound;Guitar;Amplifier;Record;Midi;Jack;